.form {
    padding-top: 1rem;
}
.form button{
    color: white;
    background-color: #8a2b06;
    border-radius: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    margin-left: 2rem;
}
.form button:hover,
.form button:active{
    background-color: #4d1601;
}